:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

:host > .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

:host > .container[whole] {
    max-height: 100%;
}

:host > .container > .header {
    display: flex;
    align-items: center;
    height: 28px;
    border-bottom: solid 1px var(--color-normal-fill-emphasis);
}

:host > ui-section.container > .header {
    display: flex;
    flex: 1;
    min-width: 0;
    border-bottom: none;
}

:host > .container > .header > .asset-thumbnail {
    width: 16px;
    height: 16px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

:host > .container > .header > .icon:hover,
:host > .container > .header > .image:hover {
    opacity: 0.8;
}

:host > .container > .header > .name {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
}

:host > .container > .header > .name[readonly] {
    opacity: 0.55;
}

:host > .container > .header > .location {
    display: none;
    margin-right: 4px;
}

:host > .container > .header > .copy {
    margin-right: 4px;
}

:host > .container > .header > .help {
    display: none;
    margin-right: 4px;
}

:host > .container > .header > .lock {
    display: none;
    font-size: 16px;
    color: var(--color-focus-contrast-normal);
    margin-left: 4px;
    margin-right: 10px;
    cursor: pointer;
}

:host > .container > .header > .tiny {
    display: none;
    margin-right: 4px;
    padding: 0 3px;
}

:host > .container > .header[dirty] > .tiny {
    display: inline-flex;
}

:host > .container > .content {
    display: flex;
    flex: 1;
    min-height: 0;
    flex-direction: column;
}

:host > .container > .content > section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

:host > .container > .content > section > inspector-resize-preview {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}

:host > .container > .content > section > inspector-resize-preview[area="header"] {
    bottom: 0;
}

:host > .container > .content > section > inspector-resize-preview[area="footer"] {
    top: 0;
}

:host > .container > .content > .content-header,
:host > .container > .content > .content-footer {
    max-height: 80vh;
}

:host > .container > .content > .content-section {
    flex: 1;
    overflow: auto;
    min-height: 200px;
}

:host > .container > .content > section > ui-panel {
    display: flex;
    flex-direction: column;
}

:host > .container > .content > section > ui-panel:only-child {
    flex: 1;
    min-height: 0;
}

:host([uuid]) > .container > .header > .location {
    display: inline-flex;
}

:host([sub-type="material"]) > .container > .content,
:host([sub-type="gltf-material"]) > .container > .content {
    padding-top: 0;
}

:host([sub-type="material"]) > .container > .content > .content-header,
:host([sub-type="gltf-material"]) > .container > .content > .content-header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
}

:host([type="asset"][sub-type="unknown"]) {
    display: none;
}
