<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep_run_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{170,115}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{545,1},{170,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{178,117}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{183,1},{178,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{180,117}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{180,115}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{363,1},{180,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{716,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
