/lib
/bin
/web.config
.idea
.history
.DS_Store
build
aspnet_client
node_modules
/tools/jsdoc_toolkit-2.4.0
/package
/tools/jsdoc_toolkit/jsdoc_toolkit-2.4.0
/.project
/dist
npm-debug.log
DebugInfos.json
/rollup/out
playground/library
/declarations
3d-api-docs
scripts/build-engine/node_modules
scripts/build-engine/dist

tests/core/serialization/ccob-serialized-gallery
