<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animationbuttonnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,86},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>animationbuttonpressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>buttonnormal.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,46},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>buttonpressed.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{82,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>monster.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
            <key>player.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>android9patch.png</string>
            <key>size</key>
            <string>{250,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3847253bb6f17aaadc6b0fc3d5f3be0:abcb5a048433c1c9927fed757905bef3:61f3f0de0f6ab61d7b5ebe63619b7615$</string>
            <key>textureFileName</key>
            <string>android9patch.png</string>
        </dict>
    </dict>
</plist>
