<div class="lod-group">
    <div>
        <ui-prop>
            <ui-button slot="content" @confirm="recalculateBounds">Recalculate Bounds</ui-button>
        </ui-prop>
    
        <ui-prop>
            <ui-label slot="label" value="Object Size"></ui-label>
            <div class="object-size-content" slot="content">
                <ui-num-input min="0" max="1" step="0.01" preci="2"
                    :value="dump.value && dump.value.size.value"
                    @confirm="onObjectSizeConfirm($event)"
                >
                </ui-num-input>
                <ui-button @confirm="resetObjectSize">Reset Object Size</ui-button>
            </div>
        </ui-prop>

        <ui-prop ref="lod-dump" type="dump"></ui-prop> 
        <template v-if="dump.value">
            <lod-item class="lod-item"
                v-for="(data, index) in dump.value.LODs.value"
                :data="data"
                :index="index"
                :key="index"
                :lodGroupId="dump.value.uuid.value"
                :min="calculateRange('min', index)"
                :max="calculateRange('max', index)"
                @updateLODs="updateLODs"
            ></lod-item>
        </template>
    </div>
</div>
