# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  test:
    docker:
      - image: circleci/node:12.13
    steps:
      - checkout
      - run: sudo npm install -g gulp
      - run: npm install
      - run: gulp build-debug-infos
      - run: npm test

workflows:
  version: 2
  test:
    jobs:
      - test
