---

BasedOnStyle:                         Google

AccessModifierOffset:                 -4
AlignConsecutiveMacros:               true
AllowShortCaseLabelsOnASingleLine:    true
ColumnLimit:                          0
ConstructorInitializerIndentWidth:    0
IncludeBlocks:                        Preserve
IndentPPDirectives:                   BeforeHash
IndentWidth:                          4
SpacesBeforeTrailingComments:         1

ObjCBlockIndentWidth:                 4
ObjCSpaceAfterProperty:               true

---
Language:                             Cpp
DerivePointerAlignment:               true