<ui-section :cache-expand="`${lodGroupId}-lod-${index}`">
    <header class="header" slot="header">
        <div class="left">
            <span>LOD {{ index }}</span>
        </div>
        <div class="right">
            <span> {{ totalTriangles }} Triangles - </span>
            <span>{{ data.value.renderers.value.length }} Sub Mesh(es)</span>
            <div class="operator">
                <ui-icon value="add" @click.stop="updateLODs('insert')" tooltip="insert after this LOD"></ui-icon>
                <ui-icon value="reduce" @click.stop="updateLODs('delete')" tooltip="delete this LOD"></ui-icon>
            </div>
        </div>
    </header>

    <div class="content">
        <ui-prop>
            <ui-label slot="label" value="Screen Size (%)"></ui-label>
            <div class="screen-size-content" slot="content">
                <ui-num-input
                    :value="data.value.screenRelativeTransitionHeight.value * 100"
                    :min="min"
                    :max="max"
                    @confirm="onScreenSizeConfirm($event)">
                </ui-num-input>
                <ui-button @confirm="applyCameraSize">Apply Current Camera Size</ui-button>
            </div>
        </ui-prop>

        <ui-prop ref="lod-item-dump" type="dump"></ui-prop>
        <ui-section whole class="mesh-list config" header="Mesh List">
            <template v-for="(mesh, meshIndex) in data.value.renderers.value">
                <div class="mesh" :key="meshIndex">
                    <ui-component class="component" slot="content"
                        droppable="cc.MeshRenderer" placeholder="cc.MeshRenderer"
                        :value="mesh.value.uuid"
                        @change="onMeshConfirm($event, meshIndex)">
                    </ui-component>
                    <ui-label class="label" slot="content"
                        :value="`${ data.value.triangles.value[meshIndex] ? data.value.triangles.value[meshIndex].value : 0 } Triangles`"
                    ></ui-label>
                </div>
            </template>

            <footer>
                <ui-button @confirm="updateRenderers('insert')">
                    <ui-icon value="add"></ui-icon>
                </ui-button>
                <ui-button @confirm="updateRenderers('delete')">
                    <ui-icon value="reduce"></ui-icon>
                </ui-button>
            </footer>
        </ui-section>
    </div>
</ui-section>
