.asset-fbx {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.asset-fbx > .header {
    text-align: center;
    padding-bottom: 10px;
    line-height: calc(var(--size-big-line) * 1px);
}
