<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lake.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,1024}</string>
                <key>spriteSourceSize</key>
                <string>{2048,1024}</string>
                <key>textureRect</key>
                <string>{{0,0},{2048,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mountain.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,500}</string>
                <key>spriteSourceSize</key>
                <string>{1000,500}</string>
                <key>textureRect</key>
                <string>{{0,1024},{1000,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Atlas-01.png</string>
            <key>size</key>
            <string>{2048,1524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2342cc4c1d332e0a7236b57635e98335:a4b9d4f2c77696389b645e00c93ff5a8:8e7bf22c2f68b772df292744364f998d$</string>
            <key>textureFileName</key>
            <string>Atlas-01.png</string>
        </dict>
    </dict>
</plist>
