name: 'GitHub Actions Mirror'

on: [create, push, delete]

jobs:
  mirror_to_gitee:
    concurrency: 
      group: ${{ github.head_ref }}
      cancel-in-progress: true  
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v1
      - name: 'Mirror to gitee'
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@gitee.com:creator-cocos/engine.git
          ssh_private_key:
            ${{ secrets.GITEE_KEY }}
