name: run test cases
on: pull_request

jobs:
  run-test-cases:
    runs-on: run-test-win01

    steps:
      - name: 'Checkout engine'
        uses: actions/checkout@v2
        with:
          path: engine

      - name: 'CocosCreator version'
        shell: bash
        run: |
          echo ${{github.base_ref}}

      - name: 'Call run test cases job'
        run: |
          python3 -u ./pr-test/main.py ${{github.base_ref}}
