name: interface check

#on: push
on: [pull_request]

jobs:
  Check_pull_request_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
          
      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            hello comment
          GITHUB_TOKEN: ${{ secrets.LABEl_TOKEN }}
